<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GigaKey</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <main class="main">
            <div class="sidebar">
                <div class="logo">
                    <img src="/imgs/logo.jpg" alt="Логотип">
                </div>
                <div class="info">
                    <p>
                        <%= login %>
                    </p>
                </div>
                <button onclick="window.location.href='/logout'" class="btn" id="logout-btn">Log Out</button>
            </div>

            <div class="content">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>URL</th>
                                <th>Login</th>
                                <th>Pass</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                            <% passwords.forEach(function(password, index) { %>
                                <tr data-id="<%= password.id %>">
                                    <td>
                                        <%= ++index %>
                                    </td>
                                    <td id="website">
                                        <%= password.website %>
                                            <button class="copy-btn"
                                                onclick="copyToClipboard('<%= password.website %>')">
                                                <i class='bx bx-copy bx-sm' style="color: #ffffff;"></i>
                                            </button>
                                    </td>
                                    <td id="login">
                                        <%= password.login %>
                                            <button class="copy-btn" onclick="copyToClipboard('<%= password.login %>')">
                                                <i class='bx bx-copy bx-sm' style="color: #ffffff;"></i>
                                            </button>
                                    </td>
                                    <td id="password-<%= password.id %>">
                                        <span class="password-stars" id="password-stars-<%= password.id %>">
                                            <%= '•' .repeat(password.password.length) %>
                                        </span>
                                        <span class="real-password" id="real-password-<%= password.id %>"
                                            style="display: none;">
                                            <%= password.password %>
                                        </span>
                                        <button class="decrypt-btn" data-id="<%= password.id %>">
                                            <i class='bx bx-show bx-sm' style="color:#ffffff" id="showPassword"></i>
                                        </button>
                                    </td>

                                    <td>
                                        <button class="delete-btn" data-id="<%= password.id %>"><i
                                                class='bx bx-trash bx-sm' style="color:#ffffff"></i></button>
                                        <button class="change-btn" data-id="<%= password.id %>"><i
                                                class='bx bx-edit-alt bx-sm' style="color: #ffffff;"></i></button>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <footer class="footer">
            <button class="btn open-popup">Add</button>
        </footer>
    </div>

    <form action="/dashboard/add" method="POST">
        <div class="popup-bg">
            <div class="popup">
                <button type="button" class="close-popup">&times;</button>

                <div class="field url-f">
                    <label class="pop-label" for="url">URL:</label>
                    <input name="website" type="text" id="url" placeholder="Enter URL" required>
                    <button type="button" onclick="copyToClipboard(document.getElementById('url').value)"><i
                            class='bx bx-copy'></i></button>
                </div>

                <div class="field login-f">
                    <label class="pop-label" for="login">Login:</label>
                    <input name="login" type="text" id="login-input" placeholder="Enter login" required>
                    <button type="button" onclick="copyToClipboard(document.getElementById('login-input').value)"><i
                                                class='bx bx-copy'></i></button>
                </div>

                <div class="field pass-f">
                    <label class="pop-label" for="pass">Password:</label>
                    <input name="password" id="pass" placeholder="Enter password" required>
                    <button type="button" onclick="copyToClipboard(document.getElementById('pass').value)"><i
                            class='bx bx-copy'></i></button>
                </div>

                <div class="password-strength">
                    <div class="strength-bar" id="strength-bar"></div>
                </div>

                <div class="button-container">
                    <button type="button" class="generate-pass">Generate Password</button>
                    <button type="button" class="settings-btn"><i class='bx bx-cog'></i></button>
                    <button type="submit" class="btn save-btn">Save</button>
                </div>
            </div>
        </div>
    </form>

    <form action="/dashboard/edit" method="POST">
        <div class="popup-bg-edit">
            <div class="popup">
                <button type="button" class="close-popup-edit">&times;</button>
                <input type="hidden" name="id" id="edit-id">
                <div class="field url-f">
                    <label class="pop-label" for="edit-url">URL:</label>
                    <input name="website" type="text" id="edit-url" placeholder="Введіть URL" required>
                    <button type="button" onclick="copyToClipboard(document.getElementById('edit-url').value)"><i
                            class='bx bx-copy'></i></button>
                </div>

                <div class="field login-f">
                    <label class="pop-label" for="edit-login">Login:</label>
                    <input name="login" type="text" id="edit-login-input" placeholder="Введіть логін" required>
                    <button type="button" onclick="copyToClipboard(document.getElementById('edit-login-input').value)"><i
                                                class='bx bx-copy'></i></button>
                </div>

                <div class="field pass-f">
                    <label class="pop-label" for="edit-pass">Password:</label>
                    <input name="password" id="edit-pass" placeholder="Введіть пароль" required>
                    <button type="button" onclick="copyToClipboard(document.getElementById('edit-pass').value)"><i
                            class='bx bx-copy'></i></button>
                </div>

                <div class="password-strength">
                    <div class="strength-bar" id="edit-strength-bar"></div>
                </div>

                <div class="button-container">
                    <button type="button" class="generate-pass">Generate Password</button>
                    <button type="button" class="settings-btn"><i class='bx bx-cog'></i></button>
                    <button type="submit" class="btn save-btn">Save</button>
                </div>
            </div>
        </div>
    </form>

    <form id="generate-password-form">
        <div class="popup-bg-settings">
            <div class="popup-settings">

                <button type="button" class="close-popup-settings">&times;</button>
                <div class="field counter">
                    <label class="set-pop-label" for="length">Password Length:</label>
                    <input type="number" id="length" name="length" value="8" min="6" max="20">
                </div>

                <div class="field numbers">
                    <label>
                        <input type="checkbox" name="numbers" checked>
                        Include Numbers
                    </label>
                </div>

                <div class="field symbols">
                    <label>
                        <input type="checkbox" name="symbols" checked>
                        Include Symbols
                    </label>
                </div>

                <div class="field uppercase">
                    <label>
                        <input type="checkbox" name="uppercase">
                        Include Uppercase
                    </label>
                </div>

                <div class="field excludeSimilarCharacters">
                    <label>
                        <input type="checkbox" name="excludeSimilarCharacters" checked>
                        Exclude Similar Characters
                    </label>
                </div>

                <div class="field strict">
                    <label>
                        <input type="checkbox" name="strict" checked>
                        Strict Mode
                    </label>
                </div>
            </div>
        </div>
    </form>

    <script src="/js/dashboard.js"></script>
    <script src="/js/jquerry.min.js"></script>
    <script src="/js/popup.js"></script>
</body>

</html>